@font-face {
  font-family: "mainfont";
  src: url("../src/assets/fonts/markGeo.ttf") format("truetype");
}

@font-face {
  font-family: "medium";
  src: url("../src/assets/fonts/Med.ttf") format("truetype");
}

body {
  margin: 0;
  font-family: "mainfont";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: "mainfont";
  font-family: "medium";
  /* background-color: green; */
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
